.app {
  display: grid;
  grid-template-columns: 25% 75%;
}

.Display {
  grid-column-start: 2;

  font-family: 'PT Sans', sans-serif;
}

h2 {
  font-family: 'Black Ops One', sans-serif;
}

.tweetText {
  margin: 0;
  padding-left: 10px;
  color: white;
}

.tweetImg {
  padding: 5px;
}

.tweetContainer {
  display: flex;
  border: 10px;
  background-color: #1da1f2;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  list-style: none;
}

